<main>
  <div class="landing-page">
    <header>
      <div class="container">
        <a href="#" class="logo">volta <b>Dynamic</b></a>
        <ul class="links">
          <li *ngIf="!authService.isLoggedIn()"  id="login-link" routerLink="/login">Login</li>
          <li class="is-active" *ngIf="authService.isLoggedIn()" routerLink="/user-table">Users</li>
          <li id="logout" *ngIf="authService.isLoggedIn()" (click)="authService.logout()">Logout</li>
          <li *ngIf="!authService.isLoggedIn()" routerLink="/signup">Get Started</li>
        </ul>
      </div>
    </header>
  </div>
  <router-outlet></router-outlet>
</main>
